body {
    color: white;
    background: cyan;
}

h3 {
    width: 60%;
    font-size: 40;
    font-family: cursive;
    
}

#camera {
    border: 2px dashed white;
    height: 333px;
    width: 300px;
}

#result_of_objects, #result_of_accuracy{
 color: chartreuse;
}

h2 {
    font-family: Georgia;
}